@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  overflow-y:auto;

}

 :root {
  width: 100%;
  height: 100%;
}

#root, #root > div {
  width: 100%;
  height: 100%;
}

.splash-card {
  background: linear-gradient(to top, #020320 0%, #4647B1 100%);
}

.splash-icon {
  background: linear-gradient(to right, #020320 0%, #4647B1 100%);
}

.balance-card {
  text-wrap: balance ;
}

.comment-card {
  @apply
  transition-opacity duration-1000 animate-fadeIn
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

/**
#020320
#0F1052
#25267F
#4647B1
#6F6FDD
**/


/* nav {
  background: transparent;
  @apply
    py-1
    px-10
    flex items-center gap-5 
    mb-5 mx-auto 
    max-w-full;
} */

a {
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #4647B1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: black;
  background-image: linear-gradient(to bottom, transparent 0%, black 100%),url('/starrysky_black.jpeg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

